.actionButtonContainer {
  position: absolute;
  bottom: 25;
  width: 50%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #fff;
  z-index: 50;
  border-radius: 25px;
  box-shadow: 1px 5px 8px 0px #000000;
}

.actionButton {
  width: 100px;
  height: 40px;
  background-color:#fff;
  border-radius: 16px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  justify-self: center;
  align-self: center;
  grid-column: 1;
  padding: 5px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 25;
  cursor: pointer;
  user-select: none;
  margin-top: 10px;
  margin-bottom: 10px;
}
.goingAlone {
  
  
}

#aloneToggle {
  width: 160px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#makeSuitContainer {
  width: 160px;
  display: flex;
}

.selectSuit {
  width: 25%;
  font-size: 1.8rem;
  text-align: center;
}

#makeClubs {
  border-right: 1px solid black;
  color: black;
}
#makeHearts {
  border-right: 1px solid black;
  color: red;
}
#makeSpades {
  border-right: 1px solid black;
  color: black;
}
#makeDiamonds {
  color: red;
}


.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  border-radius: 15px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
  border-radius: 15px;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: rgb(84, 106, 180);
}

input:focus + .slider {
  box-shadow: 0 0 1px rgb(84, 106, 180);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.topSpacer {
  width: 100%;
  height: 25px;
  
  
}

.bottomSpacer {
  width: 100%;
  height: 25px;
  
}


.flip-in-ver-left {
	-webkit-animation: flip-in-ver-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: flip-in-ver-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.slide-out-elliptic-left-bck {
  -webkit-animation:slide-out-elliptic-left-bck .7s ease-in both;animation:slide-out-elliptic-left-bck .7s ease-in both}



@-webkit-keyframes flip-in-ver-left {
  0% {
    -webkit-transform: rotateY(80deg);
            transform: rotateY(80deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
    opacity: 1;
  }
}
@keyframes flip-in-ver-left {
  0% {
    -webkit-transform: rotateY(80deg);
            transform: rotateY(80deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
    opacity: 1;
  }
}


/* ----------------------------------------------
 * Generated by Animista on 2021-1-18 9:54:57
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

 /* ----------------------------------------------
 * Generated by Animista on 2021-1-18 9:58:26
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

@-webkit-keyframes slide-out-elliptic-left-bck{0%{-webkit-transform:translateX(0) rotateY(0) scale(1);transform:translateX(0) rotateY(0) scale(1);-webkit-transform-origin:2000px 50%;transform-origin:2000px 50%;opacity:1}100%{-webkit-transform:translateX(-1000px) rotateY(30deg) scale(0);transform:translateX(-1000px) rotateY(30deg) scale(0);-webkit-transform-origin:-100% 50%;transform-origin:-100% 50%;opacity:1}}@keyframes slide-out-elliptic-left-bck { 
  0% {
    -webkit-transform:translateX(0) rotateY(0) scale(1);
    transform:translateX(0) rotateY(0) scale(1);
    -webkit-transform-origin:2000px 50%;
    transform-origin:2000px 50%;
    opacity:1
  }
  100% {
    -webkit-transform:translateX(-1000px) rotateY(30deg) scale(0);transform:translateX(-1000px) rotateY(30deg) scale(0);-webkit-transform-origin:-100% 50%;
    transform-origin:-100% 50%;
    opacity:1
  }
}