.player {
  background-color: rgb(230, 176, 176);
  width: 500px;
  height: 100px;
  border: 1px solid black;
}



.notvisible {
  visibility: hidden;
}

.addGrayscale {
  filter: grayscale(100%);
}

.card {
  position: relative;
  height: 100%;
  width: 20%;
  border: 1px solid black;
  border-radius: .5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
}

.red {
  color: red;
}

.black {
  color: black;
}

.card::before,
.card::after {
  position: absolute;
  content: attr(data-value);
  font-size: 1rem;
}

.card::before {
  top: .5rem;
  left: .5rem
}

.card::after {
  bottom: .5rem;
  right: .5rem;
  transform: rotate(180deg);
}

.player {
  display: flex;
  flex-direction: row;
}