


// add media query here so that chat and game buttons are only hidden when screen is mobile
.notVisible {
  display: none !important;
}

.addGrayscale {
  filter: grayscale(100%);
}

.card {
  position: relative;
  height: 100%;
  width: 70px;
  border: 1px solid black;
  border-radius: .5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
  background-color: #fff;
  user-select: none;
}

.red {
  color: red;
}

.black {
  color: black;
}

.card::before,
.card::after {
  position: absolute;
  content: attr(data-value);
  font-size: 1rem;
}

.card::before {
  top: .5rem;
  left: .5rem
}

.card::after {
  bottom: .5rem;
  right: .5rem;
  transform: rotate(180deg);
}



.play-area {
  background-color: rgb(225, 242, 245);
  
 
  display: flex;
  
  flex-direction: column;
  position: absolute;
  z-index: 10;
  width: 100vw;
  height: 90vh;
  align-content: center;
  transform: translateY(-50%);
  top: 50%;
  display: flex;
}

.player {
  width: auto;
  height: 100px;
  display: grid;
  grid-template-columns: 20px 20px 20px 20px 20px;
}

.localplayer {
  display: flex;
  flex-direction: row;
  width: 350px;
  height: 100px;
  align-self: center;
  justify-content: center;
}

#player-partner {
  align-self: center;
}

#enemy-one {
  position: absolute;
  top: 15%;
  left: 85%;
  transform: rotate(90deg);
  
}

#enemy-two {
  position: absolute;
  top: 35%;
  right: 85%;
  transform: rotate(-90deg);
}

.teamContainer {
  position: absolute;
  z-index: 13;
  height: 90vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #ddd;
  transform: translateY(-50%);
  top: 50%;
  

}

.teamBoxesContainer {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 50% 50%;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-color: #fff;
  text-align: center;
  background-color: rgb(91, 175, 129);
  
}

.team-label {
  width: 100%;
  display: flex;
  font-size: large;
  flex-direction: column;
  align-self: flex-start;
  height: 100%;
  background-color: rgb(91, 175, 129);
}


.teams {
  padding: 10px;
  height: 150px;
  border-bottom: 5px solid black;
}

.teamButton {
  width: 100%;
  margin-bottom: 3px;
  height: 15%;
  cursor: pointer;
  border-radius: 12px;
  background: white;
  justify-self: center;
  border: none;
  box-shadow: 0px 3px 5px 1px black;
  
  
}

.teamLabelText {
  display: flex;
  height: 150px;
  border-bottom: 5px solid black;
  user-select: none;
  align-items: center;
  justify-content: center;
}



.joinTeamButtonBox {
  display: flex;
  grid-row: 2;
  grid-column: 1/3;
  width: 40%;
  justify-self: center;
  height: 100%;
  margin-bottom: 8%;
  flex-direction: column;
  
}

.instructionBlurb {
  grid-row: 2;
  grid-column: 1/3;
  width: 100%;
  color: white;
  background-color: black;
  border-radius: 12px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: flex-end;
}

.instructionBlurb > h2 {
  font-size: 2rem;
}

.scoreBoard {
  display: grid;
  grid-template-columns: 50% 50%;
 
}

.scorebox {
  width: 100%;
  text-align: center;
}

.scoreBoard .scorebox:nth-child(2) {
  grid-column: 2/3;
  grid-row: 1/2;
}
.scoreBoard .scorebox:nth-child(1) {
  grid-column: 1/2;
  grid-row: 1/2;
}

.scorebox > div {
  font-size: 1.5rem;
}

.scoreBoard h2 {
  font-size: 2rem;
  user-select: none;
}

.flopContainer {
  height: 250px;
  width: 250px;
  position: relative;
}

.middleArea {
  display: flex;
  flex-direction: row;
  height: 350px;
  align-items: center;
  position: relative;
  justify-content: center;
  overflow: hidden;
}


.kittyContainer {
  position: relative;
  width: 100%;
  height: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.notificationContainer {
  position:absolute;
  width: 50%;
  right:25%;
  background-color: #fff;
  height: 25px;
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 9px;
}

#kittypile {
  position: absolute;
  height: 100px;
  grid-column: 2;
  display: grid;
  grid-template-columns: 9px 9px 9px 36px;
  transform: rotate(-31deg);
  top: -55%;
  left: 35%;
}

.kittyCard {
  grid-column: 4;
  width: 70px;
  background-color: #fff;
  position: relative;
  height: 100%;
  border: 1px solid black;
  border-radius: .5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
  user-select: none;
 }

// turnedCard class that can be re-used for all three players and the kitty pile
.turnedCard {
  position: relative;
  height: 100%;
  width: 69px;
  border: 1px solid black;
  border-radius: .5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
  background-image: url("../images/darkstinger2.svg");
  background-size: contain;
  
  user-select: none;
}


.secondCard {
  grid-column: 2;
}

.thirdCard {
  grid-column: 3;
}

.fourthCard {
  grid-column: 4;
}

.fifthCard {
  grid-column: 5;
}

.cardSlot {
  height: 100px;
  width: 70px;
  background-color: #fff;
  z-index: 4;
  border-radius: 0.5rem;
}


#partnerSlot {
  position: absolute;
  top: 0;
  left: 36%;
  transform: rotate(180deg);
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  user-select: none;
}

#enemyOneSlot {
  position: absolute;
  right: 3%;
  top: 30%;
  transform: rotate(270deg);
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  user-select: none;
}

#localPlayerSlot {
  position: absolute;
  bottom: 0;
  left: 36%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  user-select: none;
}

#enemyTwoSlot {
  position: absolute;
  left: 3%;
  top: 30%;
  transform: rotate(90deg);
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  user-select: none;
}

.dealerPointerContainer {
  position: absolute;
  z-index: 3;
  top: 28%;
  width: 100%;
  height: 112px;
  transform: rotate(0deg);
  display: grid;
  grid-template-rows: 20px 72px 20px;
  transition: all ease-out 0.5s;
  user-select: none;
}


.currentPointerContainer {
  position: absolute;
  z-index: 3;
  top: 28%;
  width: 100%;
  height: 112px;
  transform: rotate(0deg);
  display: grid;
  grid-template-rows: 20px 72px 20px;
  transition: all ease-out 0.5s;
  user-select: none;
}

.dealerChip {
  grid-row: 1;
  display: flex;
  align-items: center;
  background-color: rgb(233, 10, 10);
  border-radius: 10px 0px 0px 10px;
  width: 27%;
}

.currentTurnArrow {
  grid-row: 3;
  display: flex;
  align-items: center;
  background-color: rgb(72, 255, 0);
  border-radius: 10px 0px 0px 10px;
  width: 27%;
}

.yourTurnText {
  padding-left: 10px;
  
}

.dealerText {
  padding-left: 10px;
  
}


.addGrayscale {
  filter: grayscale(100%)
}


/* animation for notification bar */

.bounce-top {
	-webkit-animation: bounce-top 0.9s both;
	        animation: bounce-top 0.9s both;
}


 @-webkit-keyframes bounce-top {
  0% {
    -webkit-transform: translateY(-45px);
            transform: translateY(-45px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 1;
  }
  24% {
    opacity: 1;
  }
  40% {
    -webkit-transform: translateY(-24px);
            transform: translateY(-24px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  65% {
    -webkit-transform: translateY(-12px);
            transform: translateY(-12px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  82% {
    -webkit-transform: translateY(-6px);
            transform: translateY(-6px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  93% {
    -webkit-transform: translateY(-4px);
            transform: translateY(-4px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  25%,
  55%,
  75%,
  87% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
}
@keyframes bounce-top {
  0% {
    -webkit-transform: translateY(-45px);
            transform: translateY(-45px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 1;
  }
  24% {
    opacity: 1;
  }
  40% {
    -webkit-transform: translateY(-24px);
            transform: translateY(-24px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  65% {
    -webkit-transform: translateY(-12px);
            transform: translateY(-12px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  82% {
    -webkit-transform: translateY(-6px);
            transform: translateY(-6px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  93% {
    -webkit-transform: translateY(-4px);
            transform: translateY(-4px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  25%,
  55%,
  75%,
  87% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
}
