


// add media query here so that chat and game buttons are only hidden when screen is mobile
.notVisible {
  display: none !important;
}

.addGrayscale {
  filter: grayscale(100%);
}

.card {
  position: relative;
  height: 100%;
  width: 20%;
  border: 1px solid black;
  border-radius: .5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
  background-color: #fff;
}

.red {
  color: red;
}

.black {
  color: black;
}

.card::before,
.card::after {
  position: absolute;
  content: attr(data-value);
  font-size: 1rem;
}

.card::before {
  top: .5rem;
  left: .5rem
}

.card::after {
  bottom: .5rem;
  right: .5rem;
  transform: rotate(180deg);
}



.play-area {
  background-color: rgb(225, 242, 245);
  
 
  display: flex;
  
  flex-direction: column;
  position: absolute;
  z-index: 10;
  width: 100vw;
  height: 90vh;
  align-content: center;
  transform: translateY(-50%);
  top: 50%;
  display: flex;
}

.player {
  width: auto;
  height: 100px;
  display: grid;
  grid-template-columns: 20px 20px 20px 20px 20px;
}

.localplayer {
  display: flex;
  flex-direction: row;
  width: 350px;
  height: 100px;
  align-self: center;
}

#player-partner {
  align-self: center;
}

#enemy-one {
  position: absolute;
  top: 15%;
  left: 85%;
  transform: rotate(90deg);
  
}

#enemy-two {
  position: absolute;
  top: 35%;
  right: 85%;
  transform: rotate(-90deg);
}

.teamContainer {
  position: absolute;
  z-index: 13;
  height: 90vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #ddd;
  transform: translateY(-50%);
  top: 50%;

}

.teamBoxesContainer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-color: #fff;
  text-align: center;
}

.team-label {
  width: 50%;
  display: flex;
  font-size: large;
  flex-direction: column;
  align-self: flex-start;
  height: 100%;
  background-color: rgb(91, 175, 129);
}

.teams {
  padding: 10px;
}

.teamButton {
  width: 50%;
  
  
}

.teamLabelText {
  height: 150px;
  border-bottom: 5px solid black;
}

.joinTeamButtonBox {
  display: flex;
}

.scoreBoard {
  display: flex;
}

.scorebox {
  width: 50%;
  text-align: center;
}

#goodScore {
  font-size: 1.5rem;
}

#evilScore {
  font-size: 1.5rem;
}

.flopContainer {
  height: 250px;
  width: 250px;
  position: relative;
}

.middleArea {
  display: flex;
  flex-direction: row;
  height: 350px;
  align-items: center;
  position: relative;
  justify-content: center;
  overflow: hidden;
}


.kittyContainer {
  position: relative;
  width: 100%;
  height: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#kittypile {
  position: absolute;
  height: 100px;
  grid-column: 2;
  display: grid;
  grid-template-columns: 9px 9px 9px 36px;
  transform: rotate(-31deg);
  top: -55%;
  left: 35%;
}

.kittyCard {
  grid-column: 4;
  width: 70px;
  background-color: #fff;

}

// turnedCard class that can be re-used for all three players and the kitty pile
.turnedCard {
  position: relative;
  height: 100%;
  width: 69px;
  border: 1px solid black;
  border-radius: .5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
  background-color: rgb(84, 106, 180);
}


.secondCard {
  grid-column: 2;
}

.thirdCard {
  grid-column: 3;
}

.fourthCard {
  grid-column: 4;
}

.fifthCard {
  grid-column: 5;
}

.cardSlot {
  height: 100px;
  width: 70px;
  background-color: #fff;
}


#partnerSlot {
  position: absolute;
  top: 0;
  left: 36%;
  transform: rotate(180deg);
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

#enemyOneSlot {
  position: absolute;
  right: 3%;
  top: 30%;
  transform: rotate(270deg);
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

#localPlayerSlot {
  position: absolute;
  bottom: 0;
  left: 36%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

#enemyTwoSlot {
  position: absolute;
  left: 3%;
  top: 30%;
  transform: rotate(90deg);
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}



.actionButton {
  width: 100px;
  height: 40px;
  background-color:#fff;
  border-radius: 16px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  justify-self: center;
  align-self: center;
  grid-column: 1;
  padding: 5px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
}

#makeSuitContainer {
  width: 160px;
  display: flex;
}

.selectSuit {
  width: 25%;
  font-size: 1.8rem;
  text-align: center;
}

#makeClubs {
  border-right: 1px solid black;
  color: black;
}
#makeHearts {
  border-right: 1px solid black;
  color: red;
}
#makeSpades {
  border-right: 1px solid black;
  color: black;
}
#makeDiamonds {
  color: red;
}

