@import 'game-area';
@import 'config';


* { 
  margin: 0; 
  padding: 0; 
  box-sizing: border-box; 
}



.container { 
  font: 13px Helvetica, Arial; 
  height: 100vh;
  width: 100vw;
  position: relative;
  display: flex;
  align-items: center;
}
      

form { 
  background: red;
  padding: 3px; 
  width: 100%;
  bottom: 0; 
  display: flex;
  justify-content: space-around;
  position: absolute;
}
      
form input { 
  border: 0; 
  padding: 10px; 
  width: 80%;
  margin-right: 0.5%; 
}
      
form button { 
  width: 13%; 
  background: rgb(215, 218, 219); 
  border: none; 
  padding: 10px; 
}

.sendButton {
  font-size: 1.5rem;
}
      
#messages { 
  list-style-type: none; 
  margin: 0; 
  padding: 0; 
}

#message-container {
  overflow: auto;
  height: 75%;
  display: flex;
  flex-direction: column-reverse;
  
}
#message-container>div { 
  padding: 5px 10px; 
}
      
#message-container :nth-child(odd) { 
  background:rgb(215, 218, 219); 
}

.chatbox {
  
  background-color: rgb(201, 245, 247);
  height: 25vh;
  
  display: flex;
  align-content: space-between;
  flex-direction: column;
  position: absolute;
  z-index: 9;
  width: 100vw;
  height: 90vh;
  transform: translateY(-50%);
  top: 50%;
}

.tabBar {
  position: absolute;
  width: 100%;
  height: 5vh;
  top: 0;
  display: flex;
  justify-content: flex-end;
  
}

.tabContainer {
  margin-right: 40px;
  display: flex;
  
  
}

.tab {
border-radius: 12px 12px 0px 0px;
background-color: yellow;
padding-right: 20px;
padding-left: 20px;
text-align: center;
padding-top: 7px;
}

.visibleTab {
  background-color: rgb(218, 108, 108);  
}

.currentTab {
  z-index: 15;
}


