@import 'game-area';
@import 'config';


* { 
  margin: 0; 
  padding: 0; 
  box-sizing: border-box; 
}

body { 
  font: 13px Helvetica, Arial; 
  height: 100vh;
  width: 100vw;
}
      

form { 
  background: red;
  padding: 3px; 
  width: 100%;
  bottom: 0; 
  display: flex;
  justify-content: space-around;
  position: absolute;
}
      
form input { 
  border: 0; 
  padding: 10px; 
  width: 85%;
  margin-right: 0.5%; 
}
      
form button { 
  width: 9%; 
  background: rgb(215, 218, 219); 
  border: none; 
  padding: 10px; 
}
      
#messages { 
  list-style-type: none; 
  margin: 0; 
  padding: 0; 
}

#message-container {
  overflow: auto;
  height: 75%;
  display: flex;
  flex-direction: column-reverse;
  
}
#message-container>div { 
  padding: 5px 10px; 
}
      
#message-container :nth-child(odd) { 
  background:rgb(215, 218, 219); 
}

.chatbox {
  width: 100%;
  background-color: white;
  height: 25vh;
  bottom: 10px;
  display: flex;
  align-content: space-between;
  flex-direction: column;
  position: relative;
}

.play-area {
  height: 75vh;
  width: 80%;
  max-width: 1200px;
}
