@import 'config';
@import 'game-area';
@import 'cardMovement';
@import 'actionButtons';
@import 'rooms';
@import 'mediaquery600px';

* { 
  margin: 0; 
  padding: 0; 
  box-sizing: border-box; 
}



.container { 
  font: 13px Helvetica, Arial; 
  height: 100vh;
  width: 100vw;
  position: relative;
  display: flex;
  align-items: center;
}
      

form { 
  background: red;
  padding: 3px; 
  width: 100%;
  bottom: 0; 
  display: flex;
  justify-content: space-around;
  position: absolute;
}
      
form input { 
  border: 0; 
  padding: 10px; 
  width: 80%;
  margin-right: 0.5%; 
}
      
form button { 
  width: 13%; 
  background: rgb(215, 218, 219); 
  border: none; 
  padding: 10px; 
}

.sendButton {
  font-size: 1.5rem;
}
      
#messages { 
  list-style-type: none; 
  margin: 0; 
  padding: 0; 
}

#message-container {
  overflow: auto;
  height: 75%;
  display: flex;
  flex-direction: column-reverse;
  
}
#message-container>div { 
  padding: 5px 10px; 
}
      
#message-container :nth-child(odd) { 
  background:rgb(215, 218, 219); 
}

.chatbox {
  
  background-color: rgb(201, 245, 247);
  height: 25vh;
  
  display: flex;
  align-content: space-between;
  flex-direction: column;
  position: absolute;
  z-index: 9;
  width: 100vw;
  height: 90vh;
  transform: translateY(-50%);
  top: 50%;
}

.tabBar {
  position: absolute;
  width: 100%;
  height: 5vh;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  
}

.tabBar > button{
  width: 90px;
  height: 38px;
  border: none;
  color: white;
  background-color: red;
  font-size: 0.9rem;
  border-radius: 12px;
  margin-left: 1rem;
  margin-bottom: 0.3rem;
  visibility: hidden;
}
.tabContainer {
  margin-right: 40px;
  display: flex;
  height: 80%;
}

.tab {
  border-radius: 12px 12px 0px 0px;
  background-color:#CAF2FF;
  padding-right: 20px;
  padding-left: 20px;
  text-align: center;
  cursor: pointer;
  display: flex;
}

.visibleTab {
  background-color: #6FCCFF; 
}

.currentTab {
  z-index: 15;
}

.tabText {
  justify-content: center;
  align-self: center;
}

